. topnav{
  background-color: black;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

. topnav a {
  float: left;
  color: white;
  background-color: black; 
  text-decoration: none;
  padding: 14px 16px; 
}
